.contenedor-titulo-imagenes {
    margin-top: 100px; 
}

.Titulo {
    position:absolute;
    top: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: black;
    
    
    font-family: Arial, sans-serif;
    font-size: 20px;
    z-index: 1; 
  }


.contenedor-imagen {
    position:relative;
    display: inline-block;
    margin-right: 20px; 
  }
  
  
  
  
  .texto-superpuesto {
    position:absolute;
    top: 325px;
    left: 20px;
    color: white;
    
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    z-index: 1; 
    text-align: left;
  }

  

  .texto-superpuesto2 {
    position:absolute;
    top: 380px;
    left: 20px;
    color: white;
    
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1; 
  }

  .texto-superpuesto3 {
    position:absolute;
    top: 410px;
    left: 25px;
    color: black;
    background-color: aliceblue;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 1;
    border-radius: 5px;
    width: 335px;
    height: 30px;
    
  }

  .texto-superpuesto4 {
    position:absolute;
    top: 470px;
    left: 25px;
    color: white;
    background-color: rgba(240, 248, 255, 0.149);
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 1;
    border-radius: 5px;
    border-color: white;
    width: 335px;
    height: 30px;
    
  }

  .imagenA,
  .imagenB,
  .imagenC,
  .imagenD,
  .imagenE,
  .imagenF {
    width: 400px; 
    height: auto; 
    border-radius: 10px;
  }

  .contenedor-imagen img {
    transition: transform 0.3s ease; 
}

.contenedor-imagen:hover img {
    transform: scale(1.1); 
}

.texto-superpuesto3:hover, 
.texto-superpuesto4:hover {
    background-color: rgba(77, 77, 77, 0.768); 
    color: rgba(255, 255, 255, 0.8); 
}

.Prueba{
    width: 500px;
    height: 550px;
    border-radius: 10px;
    background-image: url("https://images-porsche.imgix.net/-/media/787664363FDE4686BD0A6316DBB8422E_FD01D47051734F28956FF81D44A88210_718---Desktop?iar=0&w=590&ar=3%3A4&q=85&auto=format");
    margin-bottom: 5rem;
    background-size:cover;

}

.Prueba:hover{
background-size:unset;
transition: opacity 1s ease 0s;
}
