.contenedor-titulo-imagenes {
  margin-top: 100px; 
}

.Titulo {
  position:absolute;
  top: 0px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: black;
  font-family:Arial, sans-serif;
  font-size: 20px;
  z-index: 1; 
}

.contenedor-imagen {
  position:relative;
  display: inline-block;
  margin-right: 20px; 
  margin-bottom: 20px;
  
}

.imagen-zoom {
  overflow: hidden;
  border-radius: 10px;
}

.imagen-zoom img {
  transition: transform 0.3s ease;
}

.imagen-zoom:hover img {
  transform: scale(1.1);
}

.texto-superpuesto {
  position:absolute;
  top: 325px;
  left: 20px;
  color: white;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  z-index: 1; 
  text-align: left;
}

.texto-superpuesto2 {
  position:absolute;
  top: 380px;
  left: 20px;
  color: white;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1; 
}

.texto-superpuesto3 {
  position:absolute;
  top: 410px;
  left: 25px;
  color: black;
  background-color: aliceblue;
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  z-index: 1;
  border-radius: 5px;
  width: 335px;
  height: 30px;
}

.texto-superpuesto4 {
  position:absolute;
  top: 470px;
  left: 25px;
  color: white;
  background-color: rgba(240, 248, 255, 0.149);
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  z-index: 1;
  border-radius: 5px;
  border-color: white;
  border: 2px solid white;
  width: 335px;
  height: 30px;
}

.imagenA,
.imagenB,
.imagenC,
.imagenD,
.imagenE,
.imagenF {
  width: 400px; 
  height: auto; 
  border-radius: 10px;
}

.contenedor-imagen img {
  transition: transform 0.3s ease; 
}

.contenedor-imagen:hover img {
  transform: scale(1.1); 
}

.texto-superpuesto3:hover, 
.texto-superpuesto4:hover {
  background-color: rgb(144, 142, 142); 
  color: rgb(255, 255, 255); 
  transform: 0.8s ease;
}
